<%- include('../partials/head') -%> 
    
<%- include('../partials/adminNavbar') -%> 

<!-- main-content section starts  -->

<section class="main-content" id="main-content">

  <h1 class="heading"> <span>admin - books</span> </h1>

      <div class="main-content-layout">

        <% for (book of inventoryArray)  { %>
          <div class="box">
              <div class="content">
                  <h3><%= book.title %></h3>
                  <p class="author"><%= book.author %></p>
                  <a href="./<%= book._id %>/edit-book" class="btn">edit</a> 
                  <form action="/books/<%= book._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded" class="inline">
                    <button class="btn" type="submit">delete</button>
                  </form>   
              </div>
          </div>
          <% } %> 

        </div>

</section>

<!-- main-content section ends -->

<%- include('../partials/footer') -%> 