<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

<!-- the landing page for all of the books in the store -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>Books</h3>
            <p>Listing of all the latest books in the store.</p>
            <p>Note: new books galore as the site admin looks for more :3</p>
        </div>

    </div>

</section>

<!-- OG: main-content section starts [DO NOT DELETE/ONLY COPY] -->

<section class="main-content" id="main-content">

    <h1 class="heading"> <span>latest books for the 3 semester long curriculum</span> </h1>

      <div class="main-content-layout">
        <!-- Using a for...of loop, loop through the inventoryArray and display each book -->
        <% for (book of inventoryArray)  { %>
          <a href="/books/<%= book._id %>" class="box">
              <div class="content">
                  <h3><%= book.title %></h3>
                  <p class="author"><%= book.author %></p>
                  <p class="price">$<%= book.price %></p>
                  <div class="stars">
                    <% for(let i = 0; i < book.starRating; i++) {%>
                      <i class="fas fa-star"></i>
                    <% }%>
                  </div>
              </div>
          </a>
          <% } %>
      </div>

</section>
<!-- OG: main-content section ends -->

<!-- ADD new sections here -->

<!-- end -->

<%- include('../partials/footer') -%>
